<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Predictions</title>
</head>
<body>
    <h1>Simple Predictions</h1>
    
    <form method="post" action="/">
        <label for="input_value">Enter a value:</label>
        <input type="text" id="input_value" name="input_value" required>
        <button type="submit">Predict</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if prediction is defined %}
        <p>Prediction for {{ input_value }} is: {{ prediction }}</p>
    {% endif %}
</body>
</html>
